@model List<dotnet_museum.Models.MuseumEvents.EventModel>

@{
    ViewData["Title"] = "Events";
}
<h1>Events</h1>
<br/>
<div class="upcoming-events-container">
    <h3>Upcoming Events</h3>
        
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var e in Model.Where(events => events.EndDate > DateTime.Now))
        {
            <div class="col">
                @Html.Partial("_EventCard", e)
            </div>
        }
    </div>
    <br/>
        
</div>
<div class="previous-events-container">
    <h3>Previous Events</h3>
        
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var e in Model.Where(events => events.EndDate <= DateTime.Now))
        {
            <div class="col">
                @Html.Partial("_EventCard", e)
            </div>
        }
    </div>
            
</div>