@model dotnet_museum.Models.MuseumEvents.Category;

@{
   ViewBag.Title = "Create Category";
}

<h1>Create Category</h1>
<form asp-action="Create" method="post">
   <div class="mb-3">
      <label asp-for="Name">Category Name:</label>
      <input asp-for="Name" class="form-control">
      <span asp-validation-for="Name" class="text-danger"></span>
   </div>
   
   <div class="mb-3">
      <label asp-for="IconPath">Icon Path:</label>
      <input asp-for="IconPath" class="form-control">
      <span asp-validation-for="IconPath" class="text-danger"></span>
   </div>
   
   <button type="submit" class="btn btn-primary">Create Category</button>
</form>