@model dotnet_museum.Models.MuseumEvents.Category;

@{
    ViewBag.Title = "Edit Category";
}

<h1>Edit Category</h1>

<form asp-action="Edit" asp-controller="Category" method="post">
    
    <input type="hidden" asp-for="CategoryId"/>
    
    <div class="mb-3">
        <label asp-for="Name">Category Name:</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IconPath">Icon Path:</label>
        <input asp-for="IconPath" class="form-control">
        <span asp-validation-for="IconPath" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary">Cancel</a>
</form>