@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <h1 class="display-4">Welcome, @User.Identity.Name!</h1>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
}
